body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  /* margin: 0px; */
  background: url(bgII.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.row{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  color: #c99ca3;
  /* font-weight: bold; */
}

.buffer {
  height: 1rem;
}

hr {
  border-color: #fe9b46;
  border-width: 2px;
  max-width: 420px
}

.my-btn {
  color: white;
  font-family: 'Arima Madurai', cursive;
  font-size: 1rem;
  text-transform: uppercase;
  border: 0px solid;
  padding: 1rem 1.5rem;
  box-shadow: 5px 10px 30px #888888;
  border-radius: 200px;
}

.btn-primary {
  background-color: #fe9b46;
  border-color: #fe9b46;
}

.btn-primary:hover {
  background-color: #d6a9ac;
  border-color: #d6a9ac;
  border-width: 2px;
}
